[user]
	name  = Nicolas Casajus
	email = nicolas.casajus@gmail.com
[init]
	defaultBranch = main
#[pull]
#	rebase = true
#[branch]
#	autosetuprebase = always
#	autosetupmerge  = always
[credential]
	helper = cache
[core]
	editor = nano -w
