[user]
	name  = Nicolas Casajus
	email = ahasverus@users.noreply.github.com
[init]
	defaultBranch = main
#[pull]
#	rebase = true
#[branch]
#	autosetuprebase = always
#	autosetupmerge  = always
[credential]
	helper = cache
[core]
	editor = nano -w
